:root{
    --Very_Dark_Blue: hsl(243, 87%, 12%);
    --Desaturated_Blue: hsl(238, 22%, 44%);
    --Bright_Blue: hsl(224, 93%, 58%);
    --Moderate_Cyan: hsl(170, 45%, 43%);
    --Light_Grayish_Blue: hsl(240, 75%, 98%);
    --Light_Gray: hsl(0, 0%, 75%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER STYLES */
header{
    width: 100%;
    min-width: 340px;
    max-width: 1350px;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 110px;
    height: 35px;
}
header ul{
    display: flex;
    list-style: none;
    gap: 1.2rem;
    color: var(--Very_Dark_Blue);
}

/* MAIN STYLES */
main{
    width: 100%;
    min-width: 340px;
    max-width: 1350px;
    display: flex;
}
main section.first-section{
    width: 100%;
    max-width: 1350px;

    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}
main .first-section img{
    width: 100%;
    min-width: 340px;
    max-width: 600px;
}
.first-section .text{
    width: 100%;
    min-width: 340px;
    max-width: 600px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1{
    font-size: 1.66rem;
    color: var(--Very_Dark_Blue);
}
.first-section .text p{
    color: var(--Very_Dark_Blue);
    line-height: 1.4rem;
}
.first-section .text form{
    width: 100%;
    min-width: 340px;
    max-width: 600px;

    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    justify-content: center;
}
.first-section .text form input{
    width: 100%;
    max-width: 287px;
    padding: 12px;
    border: 1px solid var(--Very_Dark_Blue);
    border-radius: 5px;
}
.first-section .text form button{
    width: 100%;
    max-width: 287px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--Bright_Blue);
    color: white;
}

